
.menu-bar_container {
    display:flex;
    flex-direction: row;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    height: 40px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}

.manu-bar_logo {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.manu-bar_title {
    display: flex;
    margin: auto;
    align-items: center;
}

.manu-bar_title > ul {
    display: flex;
    list-style-type: none;
}

.manu-bar_title > ul > li {
    padding: 5px;
    margin-right: 15px;
}

.manu-bar_title > ul > li > a {
    text-decoration: none;
    padding: 5px;
    color: black;
    font-family: 'segoe ui';
}

.manu-bar_title > ul > li > a:hover {
    color: #241f82;
    font-weight: bold;
}