<div class="menu-bar_container">

    <div class="manu-bar_logo">
        <img 
        src="assets/ps-logo.png" 
        alt="playstation logo"
        width="140px"
        height="32px">

    </div>

    <div class="manu-bar_title">
        <ul>
            <li><a href="#">Youtube</a></li>
            <li><a href="https://www.linkedin.com/in/gabrielle-duarte-5b41331a0/" target="_blank">Linkedin</a></li>
            <li><a href="https://github.com/dugabrielle" target="_blank">Github</a></li>
        </ul>

    </div>



</div>
